body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

ul li :checked{
    color: #555;
    text-decoration: line-through;
}

ul li {
    list-style: none;
    border: none;
    color: #fff;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
}

ul li::before{
    content: '';
    /* background-image: ; */
    height:28x ;
    width: 28px;
    border-radius: 50px;
    top: 12px;
    left: 8px;
    background-size: cover;
    background-position: center;
}


